body {
    background-color: #efefef;
    padding-top: 4.5rem;
}

main {
    margin-top: 1em;
}

.navbar-brand {
    font-size: 26px;
}

.navbar-shadow {
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
}

.card {
    border-radius: 0;
}

.card-shadow {
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}

.btn {
    border-radius: 0;
}

.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
